.NavItems {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;
  /* background-color: #703b09; */
}

@media (min-width: 600px) {
  .NavItems {
    flex-flow: row;
  }
}

/* SINGLE ITEM */

.NavItem {
  margin: 10px 0;
  box-sizing: border-box;
  display: block;
  width: 100%;
  /* color: white;
  align-items: center; */
}
.NavItem a {
  color: #8f5c2c;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  display: block;
}

.NavItem a:hover,
.NavItem a:active .NavItem a.active {
  color: black;
}

@media (min-width: 600px) {
  .NavItem {
    margin: 0;
    display: flex;
    /* flex-direction: column; */
    height: 100%;
    width: auto;
    align-items: center;
    /* background-color: red; */
  }
  .NavItem a {
    color: white;
    height: 100%;
    padding: 16px 10px;
    /* display: block; */
    border-bottom: 4px solid transparent;
  }

  .NavItem a:hover,
  .NavItem a:active .NavItem a.active {
    background-color: #8f5c2c;
    border-bottom: 4px solid #40a4c8;
    color: white;
  }
}
